header {
    background-color: orangered;
    text-align: center;
    padding: 1%;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

a {
    color: black;
    text-decoration-line: none;
}

ul li {
    display: inline-block;
}

p {
    text-align: left;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
}

.item {

    text-align: center;
    display: inline-block;
    width: 300px;
    height: 150px;
    margin: 5px;
    background-color: wheat;
    border: 2px solid rgb(186, 216, 186);
    border-radius: 10px;
}

@media screen and (max-width :600px) {
    body {
        background-color: thistle !important;
    }
}

hr {
    background-color: orange;
    height: 0.5px;
}

h3 {
    font-weight: bold;
    text-align: center;
}
